<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>127784416281-fv9t7j1ljbo84f78v395mq5dj29qrs0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127784416281-fv9t7j1ljbo84f78v395mq5dj29qrs0k</string>
	<key>API_KEY</key>
	<string>AIzaSyCVhvjXN0aeDrs1xkDUpSOjemI2XSqnxvA</string>
	<key>GCM_SENDER_ID</key>
	<string>127784416281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.temandiabetes.ios</string>
	<key>PROJECT_ID</key>
	<string>gue-login</string>
	<key>STORAGE_BUCKET</key>
	<string>gue-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127784416281:ios:75f4d557732b78b6</string>
	<key>DATABASE_URL</key>
	<string>https://gue-login.firebaseio.com</string>
</dict>
</plist>