<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>875389782609283</key>
	<string>FacebookDisplayName</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Teman Diabetes</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.17</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb875389782609283</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Teman Diabetes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.879115918599-mhl2nv9cbih5qnlql1lm62rmvv93oi94</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.879115918599-mhl2nv9cbih5qnlql1lm62rmvv93oi94</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.temandiabetes.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.temandiabetes.ios</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>7647ec4e4cea2e0f07cc369c20d2ae46cffb7c0f</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>875389782609283</string>
	<key>FacebookDisplayName</key>
	<string>Teman Diabetes</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to your microphone (for videos)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your photo gallery</string>
	<key>Teman Diabetes</key>
	<string>NSPhotoLibraryUsageDescription</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>MontserratAlternates-Black.otf</string>
		<string>MontserratAlternates-Bold.otf</string>
		<string>MontserratAlternates-ExtraBold.otf</string>
		<string>MontserratAlternates-ExtraLight.otf</string>
		<string>MontserratAlternates-Light.otf</string>
		<string>MontserratAlternates-Medium.otf</string>
		<string>MontserratAlternates-Regular.otf</string>
		<string>MontserratAlternates-SemiBold.otf</string>
		<string>MontserratAlternates-Thin.otf</string>
		<string>Arista-Pro-Alternate-Bold-trial.ttf</string>
		<string>Arista-Pro-Alternate-ExtraLight-trial.ttf</string>
		<string>Arista-Pro-Alternate-Fat-trial.ttf</string>
		<string>Arista-Pro-Alternate-Hairline-trial.ttf</string>
		<string>Arista-Pro-Alternate-Light-trial.ttf</string>
		<string>Arista-Pro-Alternate-Regular-trial.ttf</string>
		<string>Arista-Pro-Alternate-SemiBold-trial.ttf</string>
		<string>Arista-Pro-Alternate-Thin-trial.ttf</string>
		<string>Arista-Pro-Bold-trial.ttf</string>
		<string>Arista-Pro-ExtraLight-trial.ttf</string>
		<string>Arista-Pro-Fat-trial.ttf</string>
		<string>Arista-Pro-Hairline-trial.ttf</string>
		<string>Arista-Pro-Icons-Bold-trial.ttf</string>
		<string>Arista-Pro-Icons-ExtraLight-trial.ttf</string>
		<string>Arista-Pro-Icons-Hairline-trial.ttf</string>
		<string>Arista-Pro-Icons-Light-trial.ttf</string>
		<string>Arista-Pro-Icons-Regular-trial.ttf</string>
		<string>Arista-Pro-Icons-SemiBold-trial.ttf</string>
		<string>Arista-Pro-Icons-Thin-trial.ttf</string>
		<string>Arista-Pro-Light-trial.ttf</string>
		<string>Arista-Pro-Regular-trial.ttf</string>
		<string>Arista-Pro-SemiBold-trial.ttf</string>
		<string>Arista-Pro-Thin-trial.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
