<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>879115918599-mhl2nv9cbih5qnlql1lm62rmvv93oi94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879115918599-mhl2nv9cbih5qnlql1lm62rmvv93oi94</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Ygq9fL3Kc64VJ3Y9l1B65OhKjTHr3_o</string>
	<key>GCM_SENDER_ID</key>
	<string>879115918599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.temandiabetes.ios</string>
	<key>PROJECT_ID</key>
	<string>temandiabetes</string>
	<key>STORAGE_BUCKET</key>
	<string>temandiabetes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879115918599:ios:75f4d557732b78b6</string>
	<key>DATABASE_URL</key>
	<string>https://temandiabetes.firebaseio.com</string>
</dict>
</plist>